.chat-main
  .group-info
    .group-show
      .group-show__name
        = @group.name
      .group-show__menmber
        Member : 
        %ul
          - @group.users.each do |user|
            %li= user.name
    .edit-box
      = link_to edit_group_path(@group), class: "edit-link" do
        Edit

  .message-list
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .new_message__mask
        = f.text_field :content, class: 'new_message__mask__message', placeholder: 'type a message'
        = f.label :image, class: 'new_message__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'